div {
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 50px;
  width: 700px;
  height: 700px;
}
div div {
  border: 0px;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}
div div div {
  border: 1px solid;
  height: 14px;
  width: 14px;
  background-color: rgb(221, 221, 221);
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  width: max-content;
  height: max-content;
  padding: 10px;
  border-radius: 50px;
  margin: 10px;
}
