div {
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div div {
  border: 0px;
  flex-direction: row;
}
div div div {
  border: 1px solid;
  height: 20px;
  width: 20px;
  background-color: rgb(221, 221, 221);
}
